<a href="https://colab.research.google.com/github/rohit-jain-06/ML/blob/main/Mount%20dataset%20LinearRegression_with_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The dataset for this example is available at:

https://drive.google.com/open?id=1mVmGNx6cbfvRHC_DvF12ZL3wGLSHD9f_

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import pandas as pd
#dataset = pd.read_csv('/content/drive/MyDrive/petrol_consumption.csv')
dataset = pd.read_csv('/content/drive/MyDrive/petrol_consumption.xls')

In [10]:
dataset.head(10)

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410
5        10.0            5342  ...                         0.571                 457
6         8.0            5319  ...                         0.451                 344
7         8.0            5126  ...                         0.553                 467
8         8.0            4447  ...                         0.529                 464
9         7.0            4512  ...                         0.552                 498

[10 rows x 5 columns]

In [11]:
dataset.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

Preparing the Data
The next step is to divide the data into attributes and labels as we did previously. However, unlike last time, this time around we are going to use column names for creating an attribute set and label. Execute the following script:

In [12]:
X = dataset[['Petrol_tax', 'Average_income', 'Paved_Highways',
             'Population_Driver_licence(%)']]
y = dataset['Petrol_Consumption']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [15]:
y_pred = regressor.predict(X_test)

In [16]:
df = pd.DataFrame({'a': y_test, 'Rohit Predicted': y_pred})
df

      a  Rohit Predicted
29  534       469.391989
4   410       545.645464
26  577       589.668394
30  571       569.730413
32  577       649.774809
37  704       646.631164
34  487       511.608148
40  587       672.475177
7   467       502.074782
10  580       501.270734

In [17]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 56.8222474789647
Mean Squared Error: 4666.344787588362
Root Mean Squared Error: 68.31064915215168